/* Overall CSS */
*{
  padding:0;
  margin: 0;
  font-size: 100%;
  font-family: Arial;
  color: rgb(255, 255, 255);
  
}
/* Log in css */
.container-login{
    width: 500px;
    height: 250px;
    margin: auto;
    padding: 3em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background-color:hsl(0, 1%, 27%);
    animation: fadeIn 2s forwards;
    animation-delay: 1s;
    /* background-color: transparent; */
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.navbar {
  height: auto;
  width: auto;
}

/* Courses Box CSS */
.courses-box{
  width: 100%;
  height:auto;
  margin-top: 2%;
  padding: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius:1em;
  background-color:hsl(0, 1%, 27%);
  animation: fadeIn 2s forwards;
  opacity: 0;
}

/* Add Courses CSS */
.addCourses{
  width: auto;
  height:auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius:1em;
  background-color:hsl(0, 1%, 27%);
  animation: fadeIn 2s forwards;
  opacity: 0;
}

.addCourseTitle{
  padding: 2%;
}
.form-control{
  background-color:hsl(0, 0%, 100%);
}
.addCourseDescription{
  padding: 2%;
  background-color:hsl(0, 1%, 27%);
}
.addCourseLink{
  padding: 2%;
}

.piechartDiv{
  width: 100%;
  height:auto;
  margin-top: 5%;
  padding: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius:1em;
  background: white;
  animation: fadeIn 2s forwards;
  opacity: 0;
}

nav{
background-color: rgba(255, 255, 255, 0.5);
height:auto;
}


.navbar-nav{
  height: fit-content;
  width: fit-content;
  float: right;
}


.navbar-nav .nav-item .nav-link{
color: #fff;
font-size: 1.5em;
margin-left: 40em;
}
.welcomeHeader{
  margin: auto;
  color: rgb(255, 255, 255);
  animation: fadeIn 2s forwards;
  opacity: 0;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.navbar-brand{
  margin-right: 50%;
}
.titleLog {
  padding: 10%;
  text-transform:uppercase;
  text-align: center;
  animation: fadeIn 2s forwards;
  opacity: 0;
  color: white;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
  font-size:43px; letter-spacing:1px;
}

.employeesTable{
  padding: 2%;
  background-color:hsl(0, 1%, 27%);
}

.check{
  float: left;
}

.container-fluid{
  box-shadow: 0 0 40px rgba(56, 55, 55, 0.1);
  border-radius:1em;
  background-color:hsl(0, 1%, 27%);
  padding: auto;
  animation: fadeIn 2s forwards;
  opacity: 0;
}

.startEndDate{
  float: right;
  padding: 1%;
  color: black;
}

.list-group-item{
  background-color: rgb(63, 63, 63);
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(35, 35, 35) 3%, rgb(18, 18, 18) 38%, rgb(20, 20, 20) 68%, rgb(0, 0, 0) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}