/* Overall CSS */
*{
  padding:0;
  margin: 0;
  font-size: 100%;
  font-family: Arial;
  color: rgb(255, 255, 255);
  
}
/* Log in css */
.container-login{
    width: 500px;
    height: 250px;
    margin: auto;
    padding: 3em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background-color:hsl(0, 0%, 0%);
    animation: fadeIn 2s forwards;
    animation-delay: 1s;
    /* background-color: transparent; */
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.navbar {
  height: auto;
  width: auto;
}

/* Courses Box CSS */
.courses-box{
  width: 100%;
  height:auto;
  margin-top: 2%;
  padding: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius:1em;
  background-color:hsl(0, 0%, 0%);
  animation: fadeIn 2s forwards;
  opacity: 0;
}

/* Add Courses CSS */
.addCourses{
  width: auto;
  height:auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius:1em;
  background-color:hsl(0, 0%, 0%);
  animation: fadeIn 2s forwards;
  opacity: 0;
}

.addCourseTitle{
  padding: 2%;
}
.form-control{
  background-color:hsl(0, 0%, 100%);
}
.addCourseDescription{
  padding: 2%;
  background-color:hsl(0, 0%, 0%);
}
.addCourseLink{
  padding: 2%;
}

.piechartDiv{
  width: 100%;
  height:auto;
  margin-top: 5%;
  padding: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius:1em;
  background: white;
  animation: fadeIn 2s forwards;
  opacity: 0;
}

nav{
background-color: rgba(255, 255, 255, 0.5);
height:auto;
}


.navbar-nav{
  height: fit-content;
  width: fit-content;
  float: right;
}


.navbar-nav .nav-item .nav-link{
color: #fff;
font-size: 1.5em;
margin-left: 40em;
}
.welcomeHeader{
  margin: auto;
  color: rgb(255, 255, 255);
  animation: fadeIn 2s forwards;
  opacity: 0;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.navbar-brand{
  margin-right: 50%;
}
.titleLog {
  padding: 10%;
  text-transform:uppercase;
  text-align: center;
  animation: fadeIn 2s forwards;
  opacity: 0;
  color: rgb(255, 255, 255);
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
  font-size:43px; letter-spacing:1px;
}

.employeesTable{
  padding: 2%;
  background-color:hsl(0, 0%, 0%);
}

.check{
  float: left;
}

.container-fluid{
  box-shadow: 0 0 40px rgba(56, 55, 55, 0.1);
  border-radius:1em;
  background-color:hsl(0, 0%, 0%);
  padding: auto;
  animation: fadeIn 2s forwards;
  opacity: 0;
}

.startEndDate{
  float: right;
  padding: 1%;
  color: black;
}

.list-group-item{
  background-color: rgb(63, 63, 63);
}

  body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #013155 0%, #01162e 100%);
  }

  .star {
    position: absolute;
    background: white;
    animation: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .type-1 {
    width: 1px;
    height: 1px;
  }

  .type-2 {
    width: 2px;
    height: 2px;
  }

  .type-3 {
    width: 3px;
    height: 3px;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1000px);
    }
  }