{% extends "base.html" %} {% block title %}Add Questions{% endblock %} {%block navbar%}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/Home">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Western_Digital_brand_mark.svg" width="50" height="25" class="d-inline-block align-top">
      Western Digital
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggler="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!-- Navbar Buttons -->
      <div class="navbar-nav">
        <!-- Add icons -->
        {% if user.is_authenticated %} {% if user.isManager == 'Y' %}
        <a class="nav-iten nav-link" id="manager" href="/Manager">Manager View</a>
        {% endif %}
        <a class="nav-iten nav-link" id="home" href="/Home">Home</a>
        {% if user.isManager == 'Y' %}
        <a class="nav-iten nav-link" id="quiz" href="/Employees">Employees</a>
        <a class="nav-iten nav-link" id="add_quiz" href="/AddCourses"
          >Add Courses</a
        >
        {% endif %}
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        {% else %}
        <a class="nav-iten nav-link" id="login" href="/Login">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {%endblock%} {% block content %}

  <body>
     {% with message = get_flashed_messages(category_filter=["error"]) %}
      {%if message %}
       {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% endif%} {% endwith %}
         {% with message = get_flashed_messages(category_filter=["success"]) %}
      {%if message %}
       {% for message in get_flashed_messages() %}
        <div class="alert alert-success" role="alert">
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% endif%} {% endwith %}
        <h2>{{ course.courseTitle }}</h2>
        <div class="courses-box">
          <table class="table align-middle mb-0 bg-white">
            <thead>
              <th width = "80%">Questions</th>
              <th>Max Points</th>
              <th> </th>
            </thead>
            <tbody>
              {% for question in course.questions %}
                <tr>
                  <td>{{question.data}}</td>
                  <td>{{question.maxPoints}}<td>
                  <td><a href="/Delete/q_id={{question.questionId}}" class="btn btn-danger btn-xs" 
                    onclick="return confirm('Are you sure you want to delete this question? This will delete all answers and points related to the question.')"
                    style="float: left">Delete
                  </a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table><br><br>

        <div class="addQuestions">
          <div class="addQuestion">
          <form action="#" method="POST">
            <label for="addQuestion">Enter Question:</label>
            <textarea
              type="text"
              class="form-control"
              name="question"
              id="question"
              aria-describedby="question"
              rows="3"
              placeholder="Enter Question Here..."></textarea>
          </div>
    
          <div class="addMaxPoints">
            <label for="points">Enter Max Points:</label>
            <textarea
            type="text"
            class="form-control"
            name="points"
            id="points"
            rows="3"
            placeholder="Enter Maximum Points Here..."></textarea>
          </div>
          
          <div class="addLink">
            <label for="link">Enter Course Link:</label>
            <input
              type="text"
              class="form-control"
              name="link"
              id="link"
              placeholder="Enter Link Here if have more link or leave BLANK"
            />
          </div>
      <br>
      <input type="submit" id = "submitButtonQuestion" class="btn btn-primary"></button>
    </form>
  </div>
  </body>
  {% endblock %}