{% extends "base.html" %} {% block title %}Course Test{% endblock %} {%block
navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/Home">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Western_Digital_brand_mark.svg"
      width="50"
      height="25"
      class="d-inline-block align-top"
    />
    Western Digital
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggler="collapse"
    data-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <!-- Navbar Buttons -->
    <div class="navbar-nav">
      <!-- Add icons -->
      {% if user.is_authenticated %} {% if user.isManager == 'Y' %}
      <a class="nav-iten nav-link" id="manager" href="/Manager">Manager View</a>
      {% endif %}
      <a class="nav-iten nav-link" id="home" href="/Home">Home</a>
      {% if user.isManager == 'Y' %}
      <a class="nav-iten nav-link" id="quiz" href="/Employees">Employees</a>
      <a class="nav-iten nav-link" id="add_quiz" href="/AddCourses"
        >Add Courses</a>
      {% endif %}
      <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
      {% else %}
      <a class="nav-iten nav-link" id="login" href="/Login">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
{%endblock%} {% block content %}

<body>
  {% with message = get_flashed_messages(category_filter=["error"]) %}
    {%if message %}
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %} {% endif%} {% endwith %}
  {% with message = get_flashed_messages(category_filter=["success"]) %}
    {%if message %}
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success" role="alert">
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  {% endfor %} {% endif%} {% endwith %}
  <div class="container-fluid">
  <div class="courseLink">
    <h1> Course Link </h1>
      <a href="{{mCourse.courseLink}}" target="_blank">{{mCourse.courseLink}}</a>
  </div>

  <h1>{{see}}</h1>
  <div class="addAnswer">
    {% for _question in mCourse.questions %}
    <div class="question">
      <h1>Question</h1>
        <p>{{_question.data}}</p>
    </div>

    {% if ans.query.filter_by(employee_id=user.id, question_id=_question.questionId).first().answer %}
      <h1>Your Answer</h1>
      <p>{{ ans.query.filter_by(employee_id=user.id, question_id=_question.questionId).first().answer }}</p>
    {% endif %}

    <div class = "addAnswerTheQuestion"> 
      <form action="#" method="POST">
        <label for="addAnswerText">Answer:</label>
        <textarea
          type = "text"
          class="form-control"
          name = "answerText"
          id="answerText"
          rows="3"
          placeholder="Enter the answer here ..."></textarea>
    </div>
    {% endfor %}
    <input type="submit" id = "submitButtonCourse" class="btn btn-primary"></button>
    </form>
  </div>
</div>
</body>
{% endblock %}
