{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<style>
  body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #013155 0%, #01162e 100%);
  }

  .star {
    position: absolute;
    background: white;
    animation: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .type-1 {
    width: 1px;
    height: 1px;
  }

  .type-2 {
    width: 2px;
    height: 2px;
  }

  .type-3 {
    width: 3px;
    height: 3px;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1000px);
    }
  }
</style>
<body>
<a class="navbar-brand" href="/Home">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Western_Digital_brand_mark.svg" width="50" height="25" class="d-inline-block align-top">
    Western Digital
  </a>
    <h1 class="titleLog" style="text-align:center">Western Digital Training</h1>
    {% with message = get_flashed_messages(category_filter=["error"]) %}
    {%if message %}
     {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% endif%} {% endwith %}
    <form method="POST">
    <!-- email is the attribute to send to backend -->
    <div class="container-login">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Email Address"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter Password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </div>        
    </form>
</body>
</html>
{% endblock %}
