{% extends "base.html" %} {% block title %}Quiz{% endblock %} {%block navbar%}
  <head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/Home">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Western_Digital_brand_mark.svg" width="50" height="25" class="d-inline-block align-top">
        Western Digital
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggler="collapse"
        data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!-- Navbar Buttons -->
      <div class="navbar-nav">
        <!-- Add icons -->
        {% if user.is_authenticated %} {% if user.isManager == 'Y' %}
        <a class="nav-iten nav-link" id="manager" href="/Manager">Manager View</a>
        {% endif %}
        <a class="nav-iten nav-link" id="home" href="/Home">Home</a>
        {% if user.isManager == 'Y' %}
        <a class="nav-iten nav-link" id="quiz" href="/Employees">Employees</a>
        <a class="nav-iten nav-link" id="add_quiz" href="/AddCourses"
          >Add Courses</a
        >
        {% endif %}
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        {% else %}
        <a class="nav-iten nav-link" id="login" href="/Login">Login</a>
        {% endif %}
      </div>
    </div>
    </nav>
  {%endblock%} {% block content %} 
  </head>
  <body>
    {% with message = get_flashed_messages(category_filter=["error"]) %}
    {%if message %}
      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% endif%} {% endwith %}
      {% with message = get_flashed_messages(category_filter=["success"]) %}
      {%if message %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success" role="alert">
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% endif%} {% endwith %}
        <div class="wrap">
<div class ="container-fluid" id ="updateCourseBox">
  <div class="updateCourses">
    <div class="updateCourseTitle">
      <form action="/UpdateCourse/c_id={{_course_update.idcourses}}" method="POST">
          <label for="updateCourseTitle">Update Course title:</label>
          <textarea
          type="text"
          class="form-control"
          name="updateCourseTitle"
          id="updateCourseTitle"
          aria-describedby="updatecourseTitle"
          rows="3">{{_course_update.courseTitle}}
          </textarea>
    </div>
    
    <div class="updateCourseDescription">
        <label for="courseDes">Update Course Question:</label>
        <textarea
        type="text"
        class="form-control"
        name="updateCourseDes"
        id="updateCourseDes">{{_course_update.courseDes}}
        </textarea>
    </div>

    <div class="updateCourseLink">
        <label for="courseLink">Update Course Link:</label>
        <input
        type="text"
        class="form-control"
        name="updateCourseLink"
        id="updateCourseLink"
        value = {{_course_update.courseLink}}>
    </div>
    <div class="startEndDate">
  <label for="updateStart">Start date:</label>
    <input type="date" 
    id="updateStart" 
    name="updateStart"
    value={{_course_update.updateStart}}>
       
          
  <label for="updateEnd">End date:</label>
    <input type="date" 
    id="updateEnd" 
    name="updateEnd"
    value={{_course_update.updateEnd}}>
</div>
    <div class = "employeesTable">
      <div class = "row">
        <div class = "col md-12">
          <div class = "jumbotron p-3">
            <h2> <b>Employees<b> <button type ="button" class = "btn btn-success float-right" data-toggler="modal" data-target="#mymodal">Select All</button></h2>
            <table class = "table table-hover">
              <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>EmployeeID</th>
                <th>Add Employees</th>
              </tr>
              {% for n_user in user.employees %}
              <tr>
                <td>{{n_user.firstname}}</td>
                <td>{{n_user.lastname}}</td>
                <td>{{n_user.email}}</td>
                <td>{{n_user.id}}</td> 
             
                <td>
                  <div class="form-check">
                    <input 
                    class="form-check-input" 
                    type="checkbox" 
                    id="employee" 
                    value={{n_user.id}}
                    name="updateEmployee"
                    {% if eC.query.filter_by(course_id=idForCourse,employee_id=n_user.id).first() %} checked {% else %} unchecked {% endif %} 
                    />
                  </div>
                </td>      
              </tr>
              {% endfor %}
            </table>
            
          </div>
        </div>
      </div> 
    </div>

    <!-- Employee Table list -->
    <a href="/UpdateCourse/id={{idForCourse}}/Questions" class="btn btn-success mb-4">Add Questions</a>

  </div>
</div>
<input type="submit" id = "submitButtonCourse" class="btn btn-primary float-right mt-2"></button>
</form>
  </body>
</div>
{% endblock %}