{% extends "base.html" %} {% block title %}Employees{% endblock %} {%block
navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/Home">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Western_Digital_brand_mark.svg"
      width="50"
      height="25"
      class="d-inline-block align-top"
    />
    Western Digital
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggler="collapse"
    data-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <!-- Navbar Buttons -->
    <div class="navbar-nav">
      <!-- Add icons -->
      {% if user.is_authenticated %} {% if user.isManager == 'Y' %}
      <a class="nav-iten nav-link" id="manager" href="/Manager">Manager View</a>
      {% endif %}
      <a class="nav-iten nav-link" id="home" href="/Home">Home</a>
      {% if user.isManager == 'Y' %}
      <a class="nav-iten nav-link" id="quiz" href="/Employees">Employees</a>
      <a class="nav-iten nav-link" id="add_quiz" href="/AddCourses"
        >Add Courses</a
      >
      {% endif %}
      <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
      {% else %}
      <a class="nav-iten nav-link" id="login" href="/Login">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
{%endblock%} {% block content %}

<!DOCTYPE html>
<html>
  <div class="container-fluid">
    <h1>{{course.courseTitle}}</h1>
    <h1>Your Progress: {{EC.progress}}%</h1>
    <br />
    {% for q in course.questions %}
    <h2>{{q.data}}</h2>
    <h3>Your Answer</h3>
    <p>
      {{_answer.query.filter_by(question_id=q.questionId,employee_id=user.id).first().answer}}
    </p>
    <h3>Points</h3>
    <p>
      {{_answer.query.filter_by(question_id=q.questionId,employee_id=user.id).first().points}}
      out of {{q.maxPoints}}
    </p>
    {% if
    _answer.query.filter_by(question_id=q.questionId,employee_id=user.id).first().feedback
    %}
    <h3>Feedback</h3>
    <p>
      {{_answer.query.filter_by(question_id=q.questionId,employee_id=user.id).first().feedback}}
    </p>
    {%endif%}
    <br />
    {%endfor%}
  </div>
</html>
{% endblock %}
